certifi==2022.12.7+computecanada
charset_normalizer==3.0.1+computecanada
contourpy==1.0.5+computecanada
cycler==0.11.0+computecanada
fonttools==4.38.0+computecanada
idna==3.4+computecanada
Jinja2==3.1.2+computecanada
joblib==1.2.0+computecanada
kiwisolver==1.4.4+computecanada
MarkupSafe==2.1.1+computecanada
matplotlib==3.6.1+computecanada
numpy==1.23.0+computecanada
packaging==23.0+computecanada
pandas==1.5.0+computecanada
Pillow==9.3.0+computecanada
Pillow_SIMD==9.0.0.post1+computecanada
psutil==5.9.4+computecanada
pyparsing==3.0.9+computecanada
python-dateutil==2.8.2+computecanada
pytz==2022.7.1+computecanada
requests==2.28.2+computecanada
scikit_learn==1.1.2+computecanada
scipy==1.9.3+computecanada
six==1.16.0+computecanada
threadpoolctl==3.1.0+computecanada
torch==1.13.1+computecanada
torch_geometric==2.2.0+computecanada
torch_scatter==2.1.0+computecanada
torch_sparse==0.6.15+torch113.computecanada
tqdm==4.64.1+computecanada
typing_extensions==4.4.0+computecanada
urllib3==1.26.14+computecanada
